//颜色规范
$color-text-price:#ED7161;
$color-text-span:#757575;
$color-text:#212121;
$color-border:#2CA0F7;
$color-button-text:#48A0DC;
$color-background:#F3F3F3;
$color-separator:#D7D7D7;
$color-gray-small:#BCBCBC;
$color-date-week:rgb(155,155,155);

//字体大小规范
$font-size-18:18px;
$font-size-16:16px;
$font-size-14:14px;
$font-size-12:12px;
$font-size-15:15px;

//字体权重
$font-weight-bold:bold;
$font-weight-bolder:bolder;
$font-weight-light:lighter;